<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:replace="fragments/head-resources :: resources">
        <title>List Medic</title>
    </head>
    <body>
        <footer th:replace="fragments/navbar :: navbar"></footer>

        <div class="container margin-top100-bottom150">
            <div th:if="${not #lists.isEmpty(medics)}">
                <h2>Medic List</h2>
                <div  sec:authorize="hasAuthority('ADMIN')" class="row">
                    <div class="col-sm-3">
                        <a href="" th:href="@{/admin/newmedic}">New Medic</a>
                    </div>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th></th>
                        <th>Specializari</th>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>last Name</th>
                        <th></th>
                    </tr>
                    <tr th:each="medic : ${medics}">

                        <td>

                            <div th:if="${not #lists.isEmpty(medic.pictures)}">
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <img th:src="@{'data:image/jpeg;base64,'+${medic.imageBase64}}"
                                             alt="image"
                                             style="width: 100%;"
                                             />
                                    </div>
                                </div>
                            </div>

                            <div th:if="${#lists.isEmpty(medic.pictures)}">
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <img th:src="@{/images/noImage.jpg}"
                                             alt="image"
                                             style="width: 100%;"
                                             />
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div th:if="${not #lists.isEmpty(medic.usersSpecializations)}">
                                <ul  th:each="userSpec : ${medic.usersSpecializations}">
                                    <li th:text="${userSpec.specialization.name}"></li>
                                </ul>
                            </div>
                        </td>


                        <td th:text="${medic.id}"></td>
                        <td th:text="${medic.firstName}"></td>
                        <td th:text="${medic.lastName}"></td>
                        <td><a th:href="@{'/medic/show/' + ${medic.id}}">Details</a> </td>
                    </tr>
                </table>
            </div>

        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>