<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:replace="fragments/head-resources :: resources">
        <title>Medic Form</title>
    </head>
    <body>
        <footer th:replace="fragments/navbar :: navbar"></footer>
        <div class="container" id="margin-top50-bottom150">

            <h2>Medic Form</h2>
            <div>
                <form class="form-horizontal" th:object="${userMedicForm}" th:action="@{/admin/newmedic}" method="post" enctype="multipart/form-data">

                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{version}"/>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">First Name:</label>
                        <div class="col-sm-10">
                            <input type="text" id="inputFirstNameId" class="form-control" th:field="*{firstName}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Last Name:</label>
                        <div class="col-sm-10">
                            <input type="text" id="inputLastNameId" class="form-control" th:field="*{lastName}"/>
                        </div>
                    </div>

                    <div class="form-group" th:class="${#fields.hasErrors('password')} ? 'form-group has-error' : 'form-group'">
                        <label class="col-sm-2 control-label">Password:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" th:field="*{password}" th:errorclass="has-error"/>

                            <span class="help-block">
                                <ul>
                                    <li th:each="err : ${#fields.errors('password')}" th:text="${err}" />
                                </ul>
                            </span>
                        </div>
                    </div>

                    <div class="form-group" th:class="${#fields.hasErrors('passwordConfirm')} ? 'form-group has-error' : 'form-group'">
                        <label class="col-sm-2 control-label">Password Confirm:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" th:field="*{passwordConfirm}" th:errorclass="has-error"/>

                            <span class="help-block">
                                <ul>
                                    <li th:each="err : ${#fields.errors('passwordConfirm')}" th:text="${err}" />
                                </ul>
                            </span>
                        </div>
                    </div>


                    <div class="form-group" th:class="${#fields.hasErrors('email')} ? 'form-group has-error' : 'form-group'">
                        <label class="col-sm-2 control-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{email}" th:errorclass="has-error"/>

                            <span class="help-block">
                                <ul>
                                    <li th:each="err : ${#fields.errors('email')}" th:text="${err}" />
                                </ul>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Phone:</label>
                        <div class="col-sm-10">
                            <input type="text" id="inputPhoneNumberId" class="form-control" th:field="*{phoneNumber}"/>
                        </div>
                    </div>

                    <div class="form-group"  th:class="${#fields.hasErrors('userName')} ? 'form-group has-error' : 'form-group'">
                        <label class="col-sm-2 control-label">User Name:</label>
                        <div class="col-sm-10 ">
                            <input type="text" id="inputUserNameId" class="form-control"
                                   th:field="*{userName}"  th:errorclass="has-error"
                                   onfocus="setUserName()"
                                   />

                            <span class="help-block">
                                <ul>
                                    <li th:each="err : ${#fields.errors('userName')}" th:text="${err}" />
                                </ul>
                            </span>
                        </div>
                    </div>

                    <script type="text/javascript">
                        function setUserName() {
                            var fName = document.getElementById("inputFirstNameId").value;
                            var lName = document.getElementById("inputLastNameId").value;
                            var phone = document.getElementById("inputPhoneNumberId").value;

//                            var regExpr = new RegExp("( |.|%|!|@|#|$)", 'g');
                            var regExpr = new RegExp(" ", 'g');

                            document.getElementById("inputUserNameId").value
                                    = fName.trim().replace(regExpr, "").toLowerCase() + "_"
                                    + lName.trim().replace(regExpr, "").toLowerCase() + "_"
                                    + phone.trim().replace(regExpr, "").toLowerCase();
                        }
                    </script>



                    <div class="form-group">
                        <label class="col-sm-2 control-label">Specialization:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{specialization}"/>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="image">Upload Picture</label>
                        <div class="col-sm-10">
                            <input type="file" id="file" name="file"/>
                        </div>
                    </div>

<!--                    <div class="form-group">
                        <div class="col-sm-4">
                            <img th:src="@{'/images/medics/'+${id}}"
                                 alt="image"
                                 style="width: 100%;"
                                 />
                        </div>
                    </div>-->



                    <div class="form-group">
                        <label class="col-sm-2 control-label"> </label>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-default">Add To DB</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>