<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:replace="fragments/head-resources :: resources">
        <title>List Users</title>
    </head>
    <body>
        <footer th:replace="fragments/navbar :: navbar"></footer>
        <div class="container container-shadowed margin-top100-bottom150 padding-botom-30px">

            <h3 th:text="'Rezultate Cautare \''+${searchedText}+'\''"></h3>
            <div th:if="${#lists.isEmpty(medicsFounded) and #lists.isEmpty(specializations)}">
                Nici un rezultat.
            </div>
        </div>
        
        <div class="container container-shadowed padding-botom-30px">
            <div th:if="${not #lists.isEmpty(medicsFounded)}">
                <h4>Medici</h4>
                <table class="table table-striped">
                    <tr th:each="medic : ${medicsFounded}">
                        <td th:text="${medic.firstName}+' - '+${medic.lastName}"></td>
                        <td><a th:href="@{'/medic/show/' + ${medic.id}}">View</a> </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="container container-shadowed  padding-botom-30px margin-top-30">
            <div th:if="${not #lists.isEmpty(specializations)}">
                <h4>Specializari</h4>

                <table class="table table-striped">
                    <tr th:each="spech : ${specializations}">
                        <td th:text="${spech.name}"></td>
                        <td><a th:href="@{'/specialization/medics/' + ${spech.id}}">Medici</a> </td>
                    </tr>
                </table>
            </div>
        </div>

        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>