<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:replace="fragments/head-resources :: resources">
        <title>List Users</title>
    </head>
    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>

        <main class="container margin-top100-bottom150">

            <div th:if="${ #strings.isEmpty(searchedText)}" class="container alert alert-danger" style="width: fit-content;">
                Pentru cautare e nevoie de min 2 caractere!
            </div>

            <div th:if="${not #strings.isEmpty(searchedText)}" class="container">
                <div class=" alert alert-success" th:text="'Rezultate Cautare \''+${searchedText}+'\''"></div>
                <div th:if="${#lists.isEmpty(medicsFounded) and #lists.isEmpty(specializations)}" class="alert alert-danger" >
                    Nici un rezultat.
                </div>

            </div>

            <!--<div class="row">-->
            <div class="container">

                <div th:if="${not #lists.isEmpty(medicsFounded)}" class="">
                    <!--<div class="col-md-5 ml-md-auto container-shadowed-basic padding-top-20px margin-top-20 padding-botom-20px">-->
                    <div class="container-shadowed-basic padding-top-20px margin-top-20 padding-botom-20">
                        <h4>Medici</h4>
                        <table class="table table-striped">
                            <tr th:each="medic : ${medicsFounded}">
                                <!--<td th:text="${medic.firstName}+' - '+${medic.lastName}"></td>-->
                                <td><a th:href="@{'/medic/show/' + ${medic.id}}" th:text="${medic.firstName}+' - '+${medic.lastName}">View</a> </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-md-1"></div>

                <div th:if="${not #lists.isEmpty(specializations)}" class="">
                    <!--<div class="col-md-5 ml-md-auto container-shadowed-basic  padding-top-20px padding-botom-20px margin-top-20">-->
                    <div class="container-shadowed-basic  padding-top-20px padding-botom-20 margin-top-20">
                        <h4>Specializari</h4>

                        <table class="table table-striped">
                            <tr th:each="spech : ${specializations}">
                                <td th:text="${spech.name}"></td>
                                <td><a th:href="@{'/specialization/medics/' + ${spech.id}}">Medici</a> </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </main>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>