<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:replace="fragments/head-resources :: resources">
        <title>List Speciaizations</title>
    </head>
    <body>
        <footer th:replace="fragments/navbar :: navbar"></footer>
        <div class="container container-shadowed margin-top100-bottom150" >

            <div th:if="${not #lists.isEmpty(specializations)}">
                <h2>Lista Specializari</h2>
                <div  sec:authorize="hasAuthority('ADMIN')" class="row">
                    <div class="col-sm-3">
                        <a href="" th:href="@{/admin/newspecialization}">New Specialization</a>
                    </div>
                </div>
                <table class="table table-striped">
<!--                    <tr>
                        <th>Id</th>
                        <th>Specialization</th>
                        <th></th>
                    </tr>-->
                    <tr th:each="spech : ${specializations}">
                        <!--<td th:text="${spech.id}"></td>-->
                        <td th:text="${spech.name}"></td>
                        <td><a th:href="@{'/specialization/services/' + ${spech.id}}">Servicii</a></td>
                        <td><a th:href="@{'/specialization/medics/' + ${spech.id}}">Medici</a> </td>
                    </tr>
                </table>
            </div>

        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>