<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="res">

        <link rel='stylesheet' href='../../static/css/timeline/fullcalendar.css' th:href="@{/static/css/timeline/fullcalendar.css}" />
        <script src='../../static/js/timeline/moment.min.js' th:src="@{/static/js/timeline/moment.min.js}"></script>
        <script src='../../static/js/timeline/fullcalendar.js' th:src="@{/static/js/timeline/fullcalendar.js}"></script>
        <script src="../../static/js/timeline/calndar-client.js" th:src="@{/static/js/timeline/calndar-client.js}"></script>

        <div id="fullCalClient" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4  class="modal-title">
                            <!--<label >Descriere</label>-->
                            <textarea id="modalTitle"
                                      placeholder="Descriere rezervare"
                                      rows="6" cols="50" style="resize: vertical;"></textarea>

                        </h4>
                    </div>
                    <div class="modal-body">
                        <p id="modalStart"></p>
                        <p id="modalEnd"></p>
                        <input type="text" placeholder="Nume"  id="modalFirstName"/>
                        <input type="text" placeholder="Prenume"  id="modalLastName"/>
                        <input type="text" placeholder="Telefon"  id="modalPhone"/>
                        <input type="text" placeholder="Email"  id="modalEmail"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal" id="editBtn" >Rezerva</button>
                        <!--<button type="button" class="btn btn-danger" data-dismiss="modal" id="delBtn" >Elimina</button>-->
                        <button type="button" class="btn btn-default" data-dismiss="modal">Renunta</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div th:fragment="show-res">

        <link rel='stylesheet' href='../../static/css/timeline/fullcalendar.css' th:href="@{/static/css/timeline/fullcalendar.css}" />
        <script src='../../static/js/timeline/moment.min.js' th:src="@{/static/js/timeline/moment.min.js}"></script>
        <script src='../../static/js/timeline/fullcalendar.js' th:src="@{/static/js/timeline/fullcalendar.js}"></script>
        <script src="../../static/js/timeline/calndar-client-show.js" th:src="@{/static/js/timeline/calndar-client-show.js}"></script>


        <div id="fullCalClient" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4  class="modal-title">
                            <!--<label >Descriere</label>-->
                            <textarea id="modalTitle"
                                      placeholder="Descriere rezervare"
                                      rows="6" cols="50" style="resize: vertical;"></textarea>

                        </h4>
                    </div>
                    <div class="modal-body">
                        <p id="modalStart"></p>
                        <p id="modalEnd"></p>
                        <input type="text" placeholder="Nume"  id="modalFirstName"/>
                        <input type="text" placeholder="Prenume"  id="modalLastName"/>
                        <input type="text" placeholder="Telefon"  id="modalPhone"/>
                        <input type="text" placeholder="Email"  id="modalEmail"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal" id="editBtn" >Rezerva</button>
                        <!--<button type="button" class="btn btn-danger" data-dismiss="modal" id="delBtn" >Elimina</button>-->
                        <button type="button" class="btn btn-default" data-dismiss="modal">Renunta</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</html>