<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head lang="en" th:replace="fragments/head-resources :: resources">

    </head>
    <body>



        <div th:fragment="page-nav-top">

            <div class="page-nav-text-center border-px-solid">
                <div  sec:authorize="hasAuthority('ADMIN')" >
                    <a href="" th:href="@{/admin/newmedic}" class="font-l nav-left margin-left font-color-admin font-bold btn  btn-default">New Medic</a>
                </div>

                <span th:each="pageElement : ${pageElementList}">
                    <span th:if="${pageElement.isNull()}" class="font-xxl">..</span>
                    <span th:if="${pageElement.isEqPageIndex()}" class="page-index-curent" th:text="${pageElement.element}"></span>
                    <a    th:if="${!pageElement.isEqPageIndex()}" class="font-xxl" 
                          th:href="@{'/medic/list/'+ ${pageElement.element}}" href="#" th:text="${pageElement.element}"></a>
                    &nbsp;
                    &nbsp;

                </span>
            </div><!--pageNav-->
        </div>



        <div th:fragment="page-nav-bottom">

            <div class="page-nav-text-center border-px-solid-bottom">
                <span th:each="pageElement : ${pageElementList}">
                    <span th:if="${pageElement.isNull()}" class="font-xxl">..</span>
                    <span th:if="${pageElement.isEqPageIndex()}" class="page-index-curent" th:text="${pageElement.element}"></span>
                    <a    th:if="${!pageElement.isEqPageIndex()}" class="font-xxl" 
                          th:href="@{'/medic/list/'+ ${pageElement.element}}" href="#" th:text="${pageElement.element}"></a>
                    &nbsp;
                    &nbsp;

                </span>
            </div>

        </div>


    </body>
</html>