
/*
.pagenav-fit-content{
    width: fit-content;
    align-content: center;
}*/


.padding-top-20px{
    padding-top: 20px;
}
.padding-botom-20px{
    padding-bottom: 20px;
}
.padding-botom-25px{
    padding-bottom: 25px;
}
.padding-botom-30px{
    padding-bottom: 30px;
}

.container-promed{
    /*padding-top: 30px;*/
    /*padding-bottom: 50px;*/
    background-color: #FFF;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-shadow-r{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.border-px-solid-bottom{
    /*margin-top: 10px;*/
    border-top:1px solid lightgray;
    padding-top: 3px;
    padding-bottom: 1px;
    /*border-bottom:1px solid;*/

    /*margin-bottom: 10px;*/
}
.border-px-solid{
    /*background-color: #DDD;*/
    /*margin-top: 10px;*/
    padding-top: 3px;
    padding-bottom: 1px;
    /*border-top:1px solid;*/
}

.page-nav-text-center{
    text-align: center;
}

/*.width_center-height_center{
        position: absolute;
        width: 300px;
        height: 50px;
        margin: auto 0 ;
     
        
}*/

.page-index-curent{
    border: 1px dotted green;
    /*font-size: xx-large;*/
}

.margin-left{
    /*background: red;*/
    margin-left: 10px;
    margin-top: 4px;
}

.font-color-admin{
    color: red;
}

.font-bold{
    font-weight: bold;
}

.font-l{
    font-size: large;
}
.font-xl{
    font-size: x-large;
}
.font-xxl{
    font-size: xx-large;
}

.error{
    color:red;
}
#margin-top50-bottom150{
    margin-top: 50px; 
    margin-bottom: 150px; 
}
.margin-top100-bottom150{
    margin-top: 100px; 
    margin-bottom: 150px; 
}


body {
    background-color: #EEE;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.retroshd {
    letter-spacing: .05em;
    text-shadow: 2px 3px 6px #222;
    /*, 7px 7px 0px rgba(0, 0, 0, 0.2);*/
}

#appNameId1{
    color:white;
}
#appNameId2{
    color:red;
    font-weight: bold;
}