<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:replace="fragments/head-resources :: resources">
        <title>Index</title>
    </head>
    <body>
        <footer th:replace="fragments/navbar :: navbar"></footer>
        <div class="container margin-top100-bottom150"  >

            <h2>Index page.</h2>

            <ul>
                <li><a href="" th:href="@{/user/list}">Users</a></li>

                <div  sec:authorize="hasAuthority('ADMIN')" class="row">
                    <li>  <a href="" th:href="@{/admin/newmedic}">New Medic</a></li>
                    <li> <a href="" th:href="@{/admin/newspecialization}">New Specialization</a></li>
                    <li> <a href="" th:href="@{/admin/newservice}">New Service</a></li>
                </div>
            </ul>

        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>