<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:replace="fragments/head-resources :: resources">
        <title>List Services</title>
    </head>
    <body>
        <footer th:replace="fragments/navbar :: navbar"></footer>
        <div class="container container-shadowed margin-top100-bottom150" >

            <div th:if="${not #lists.isEmpty(services)}">
                <h2>Lista Servicii</h2>
                <div  sec:authorize="hasAuthority('ADMIN')" class="row">
                    <div class="col-sm-3">
                        <a href="" th:href="@{/admin/newservice}">New Service</a>
                    </div>
                </div>
                <table class="table table-striped">
<!--                    <tr>
                        <th>Id</th>
                        <th>Service</th>
                    </tr>-->
                    <tr th:each="service : ${services}">
                        <!--<td th:text="${service.id}"></td>-->
                        <td th:text="${service}"></td>
<!--                        <td><a th:href="@{'/specialization/services/' + ${service.id}}">Services</a> </td>
                        <td><a th:href="@{'/specialization/services/' + ${service.id}}">Services</a> </td>-->
                    </tr>
                </table>
            </div>

        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>